.modal {
  position: fixed;
  width: 800px;
  height: 600px;
  top: 50px;
  margin: auto;
  background-color: #fff;
  z-index: 99999;
  border: 2px solid gray;
}

.modal-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  color: #000;
  padding: 30px;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 150%;
  top: -50px;
  left: 0px;
  background-color: #fff;
  z-index: 99990;
  opacity: 0.5;
}

.modal-list {
  overflow:auto;
  width: 600px;
  height: 500px;
}

.modal-new {
  text-align: right;
  position: absolute;
  bottom: 130px;
  right: 90px;
}

.modal-ok {
  text-align: right;
  position: absolute;
  bottom: 90px;
  right: 160px;
}

.modal-cancel {
  text-align: right;
  position: absolute;
  bottom: 90px;
  right: 90px;
}